// This file is used to ignore files and directories in the repository
*checkpoints/*
!checkpoints/.gitkeep
data/*
!data/.gitkeep
imgs/*
!imgs/.gitkeep
logs/*
!logs/.gitkeep
outputs/
silbido*/
*.png

__pycache__
*.pth
*.egg-info
*.log